@model PropertySurveyService.Models.GreenTable

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GreenTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.udi_cont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.udi_cont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bDifferentFromOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bDifferentFromOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cause_of_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cause_of_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cause_of_damage_reason_different)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cause_of_damage_reason_different)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rep_reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rep_reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.material_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.material_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.glaze_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.glaze_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.base_size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.base_size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.base_size_x)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.base_size_x)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.base_size_y)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.base_size_y)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type_of_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type_of_glass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.door_opening_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.door_opening_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.window_opening_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.window_opening_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roof_opening_lights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roof_opening_lights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.auto_or_manual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.auto_or_manual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.overall_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.overall_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.no_of_pics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.no_of_pics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.no_of_photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.no_of_photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.no_of_vids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.no_of_vids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parts_to_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parts_to_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.point_of_entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.point_of_entry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type_of_lockng_system_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type_of_lockng_system_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.was_it_locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.was_it_locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeItemTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeItemTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.print_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.print_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.glass_complete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.glass_complete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.replace_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.replace_glass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.repair_or_replace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.repair_or_replace)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
