@model PropertySurveyService.Models.PanelTable

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PanelTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.udi_cont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.udi_cont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cause_of_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cause_of_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cause_of_damage_reason_different)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cause_of_damage_reason_different)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.knockedit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.knockedit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.knocoledit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.knocoledit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.letteredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.letteredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.letter_box_pos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.letter_box_pos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wedit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wedit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hedit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hedit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeedit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeedit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thickedit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thickedit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.backgedit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.backgedit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coledit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.coledit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gltext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gltext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spaccoloedit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spaccoloedit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet_flap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet_flap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet_magnetic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet_magnetic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.no_of_pics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.no_of_pics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.no_of_photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.no_of_photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.no_of_vids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.no_of_vids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bDifferentFromOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bDifferentFromOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeItemTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeItemTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.print_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.print_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.long_sptext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.long_sptext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.upvc_item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.upvc_item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alum_item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alum_item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parts_to_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parts_to_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.point_of_entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.point_of_entry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type_of_lockng_system_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type_of_lockng_system_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.was_it_locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.was_it_locked)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
