@model PropertySurveyService.ViewModels.ItemIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

                <table class="table">
    <tbody>
        <tr>
            <td style="width:50%">

    <h4>ConsTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.HeaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.HeaderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.udi_cont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.udi_cont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.isComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.isComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.cause_of_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.cause_of_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.cause_of_damage_reason_different)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.cause_of_damage_reason_different)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.material_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.material_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sizeA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sizeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sizeB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sizeB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sizeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sizeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sizeD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sizeD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sizeE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sizeE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sizeF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sizeF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sizeG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sizeG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.angle1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.angle1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.angle2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.angle2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.angle3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.angle3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.angle4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.angle4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.pitch_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.pitch_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.profile_section_size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.profile_section_size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_width_10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_width_10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.sheet_height_10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.sheet_height_10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.flute_size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.flute_size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.new_firrings_req)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.new_firrings_req)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.new_gutters_req)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.new_gutters_req)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_glazing_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_glazing_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.no_of_pics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.no_of_pics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.no_of_photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.no_of_photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.room_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.room_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.no_of_vids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.no_of_vids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.bDifferentFromOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.bDifferentFromOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.ChangeItemTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.ChangeItemTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.print_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.print_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.wall_pos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.wall_pos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.pitch_degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.pitch_degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.long_comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.long_comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.bDrawingsOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.bDrawingsOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.cons_roof_under_drawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.cons_roof_under_drawn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.does_roof_fit_under)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.does_roof_fit_under)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.spars_line_up)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.spars_line_up)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.roof_sheets_quantity_10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.roof_sheets_quantity_10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.good_conditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.good_conditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.ridge_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.ridge_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.parts_to_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.parts_to_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.point_of_entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.point_of_entry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.type_of_lockng_system_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.type_of_lockng_system_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.was_it_locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.was_it_locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.glass_complete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.glass_complete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.replace_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.replace_glass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.reason_not_repaired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.reason_not_repaired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.bRepair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.bRepair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.fensa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.fensa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.WER_rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.WER_rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons.overall_length_of_sheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.overall_length_of_sheet)
        </dd>
                    </dl>
                <td style="width:50%">
                    <h4>Photos</h4>
                    <hr />

                    <table class="table">
                        <tbody>


                                @if (Model.Images != null)
                                {
                                    @foreach (var item in Model.Images)
                                    {
                                    <tr>
                                        <td>
                                            <img src="data:image/png;base64,@item.Data" style='height: 100%; width: 100%; object-fit: contain' />

                                        </td>
                                    </tr>

                                    }
                                }

                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>


</div>

