@model PropertySurveyService.ViewModels.ItemIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

            <table class="table">
    <tbody>
        <tr>
            <td style="width:50%">


    <h4>GlassTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.HeaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.HeaderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.udi_cont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.udi_cont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.isComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.isComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.cause_of_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.cause_of_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.cause_of_damage_reason_different)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.cause_of_damage_reason_different)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.units_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.units_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_width8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_width8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_height8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_height8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.stepped_unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.stepped_unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.int_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.int_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.int_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.int_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.single_or_double)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.single_or_double)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_CWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_CWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_CHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_CHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_anti_rattle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_anti_rattle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_sod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_sod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_bDiamondComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_bDiamondComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_bGeorgianComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_bGeorgianComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_bBarComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_bBarComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glass_pattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glass_pattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.spacer_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.spacer_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.spacer_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.spacer_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.special_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.special_glass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.no_of_pics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.no_of_pics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.docl_old)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.docl_old)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.no_of_photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.no_of_photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.gb_trim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.gb_trim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.docl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.docl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.room_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.room_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.no_of_vids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.no_of_vids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.bDifferentFromOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.bDifferentFromOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.ChangeItemTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.ChangeItemTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.print_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.print_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.ProductInto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.ProductInto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glazing_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glazing_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.long_comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.long_comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_posX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_posX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_posY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_posY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.TapeorGasket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.TapeorGasket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.glaze)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.glaze)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.collect_and_copy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.collect_and_copy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.temporary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.temporary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.parts_to_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.parts_to_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.point_of_entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.point_of_entry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.type_of_lockng_system_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.type_of_lockng_system_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.was_it_locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.was_it_locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.back_to_back_spacer_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.back_to_back_spacer_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.back_to_back_spacer_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.back_to_back_spacer_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_CWidthf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_CWidthf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_CHeightf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_CHeightf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeAf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeAf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeBf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeBf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeCf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeCf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.sizeDf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.sizeDf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_CWidths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_CWidths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.lead_CHeights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.lead_CHeights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glass.parent_item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glass.parent_item)
        </dd>
                    </dl>
                <td style="width:50%">
                    <h4>Photos</h4>
                    <hr />

                    <table class="table">
                        <tbody>


                                @if (Model.Images != null)
                                {
                                    @foreach (var item in Model.Images)
                                    {
                                    <tr>
                                        <td>
                                            <img src="data:image/png;base64,@item.Data" style='height: 100%; width: 100%; object-fit: contain' />

                                        </td>
                                    </tr>

                                    }
                                }

                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>


</div>

