@model PropertySurveyService.ViewModels.ItemIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

                <table class="table">
    <tbody>
        <tr>
            <td style="width:50%">

    <h4>AlumTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.HeaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.HeaderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.udi_cont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.udi_cont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bRepair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bRepair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.cosmetic_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.cosmetic_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.additional_locks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.additional_locks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.gaskets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.gaskets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.gaskets_text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.gaskets_text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.handles_req)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.handles_req)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.handles_text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.handles_text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.replace_panel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.replace_panel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.replace_reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.replace_reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.replace_explain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.replace_explain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.cause_of_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.cause_of_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.cause_of_damage_reason_different)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.cause_of_damage_reason_different)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.section_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.section_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.new_timber_sub_frame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.new_timber_sub_frame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.sub_frame_depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.sub_frame_depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.item_frame_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.item_frame_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.item_frame_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.item_frame_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.brick_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.brick_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.brick_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.brick_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.internal_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.internal_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.internal_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.internal_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.frame_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.frame_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.cill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.cill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.drip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.drip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.night_vent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.night_vent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.midrail_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.midrail_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.item_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.item_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.locking_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.locking_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.letter_box)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.letter_box)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.letter_box_pos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.letter_box_pos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.pet_flap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.pet_flap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.pet_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.pet_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.pet_magnetic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.pet_magnetic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.opens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.opens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.handle_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.handle_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.spacer_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.spacer_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.spacer_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.spacer_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.glass_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.glass_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.glass_pattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.glass_pattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.special_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.special_glass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.sub_frame_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.sub_frame_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bNewLockingMech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bNewLockingMech)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bLockComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bLockComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bHandleDrawingComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bHandleDrawingComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.no_of_pics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.no_of_pics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.midrail_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.midrail_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.no_of_photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.no_of_photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.docl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.docl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.room_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.room_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.no_of_vids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.no_of_vids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.LPHandles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.LPHandles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.threshold_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.threshold_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bDifferentFromOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bDifferentFromOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.ChangeItemTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.ChangeItemTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.print_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.print_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bFencer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bFencer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.FecerRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.FecerRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.long_comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.long_comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bDoorComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bDoorComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bWindowComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bWindowComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_sizeA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_sizeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_sizeB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_sizeB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_sizeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_sizeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_sizeD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_sizeD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_CWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_CWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_CHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_CHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_anti_rattle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_anti_rattle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_sod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_sod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_bDiamondComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_bDiamondComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_bGeorgianComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_bGeorgianComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_bBarComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_bBarComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_bSGDesignComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_bSGDesignComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lock_make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lock_make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lock_codes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lock_codes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bPanelComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bPanelComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.GearBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.GearBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.left_bolt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.left_bolt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.right_bolt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.right_bolt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.isComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.isComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.cill_on_subframe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.cill_on_subframe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.cill_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.cill_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.i_spare3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.i_spare3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.collect_and_copy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.collect_and_copy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.temporary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.temporary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.glazed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.glazed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.bead_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.bead_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.outer_section_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.outer_section_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.outer_section_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.outer_section_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.parts_to_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.parts_to_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.is_a_flat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.is_a_flat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.point_of_entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.point_of_entry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.type_of_lockng_system_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.type_of_lockng_system_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.was_it_locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.was_it_locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.back_to_back_spacer_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.back_to_back_spacer_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.back_to_back_spacer_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.back_to_back_spacer_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_size1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_size1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_size2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_size2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_sizeA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_sizeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_sizeB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_sizeB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_sizeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_sizeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_sizeD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_sizeD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_sizeE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_sizeE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_sizeF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_sizeF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_sizeG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_sizeG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_fpos1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_fpos1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_fpos2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_fpos2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_fpos3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_fpos3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_fpos4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_fpos4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_fpos5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_fpos5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_fpos6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_fpos6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_fpos7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_fpos7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lock_position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lock_position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_itype1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_itype1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_itype2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_itype2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_itype3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_itype3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_itype4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_itype4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_itype5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_itype5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_itype6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_itype6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.l_itype7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.l_itype7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_CWidthf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_CWidthf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_CHeightf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_CHeightf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_CWidths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_CWidths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.lead_CHeights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.lead_CHeights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.glass_complete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.glass_complete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alum.replace_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alum.replace_glass)
        </dd>
                    </dl>
                <td style="width:50%">
                    <h4>Photos</h4>
                    <hr />

                    <table class="table">
                        <tbody>


                                @if (Model.Images != null)
                                {
                                    @foreach (var item in Model.Images)
                                    {
                                    <tr>
                                        <td>
                                            <img src="data:image/png;base64,@item.Data" style='height: 100%; width: 100%; object-fit: contain' />

                                        </td>
                                    </tr>

                                    }
                                }

                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>


</div>

