@model PropertySurveyService.ViewModels.ItemIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

                <table class="table">
    <tbody>
        <tr>
            <td style="width:50%">

    <h4>TimberTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.HeaderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.HeaderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.udi_cont)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.udi_cont)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.item_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.item_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.isComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.isComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bRepair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bRepair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.cosmetic_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.cosmetic_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.additional_locks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.additional_locks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.gaskets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.gaskets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.gaskets_text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.gaskets_text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.handles_req)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.handles_req)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.handles_text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.handles_text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.replace_reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.replace_reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.replace_explain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.replace_explain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.timber_item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.timber_item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.cause_of_damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.cause_of_damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.cause_of_damage_reason_different)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.cause_of_damage_reason_different)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.timber_wood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.timber_wood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.timber_frame_wood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.timber_frame_wood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.timber_new_frame_req)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.timber_new_frame_req)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.brick_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.brick_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.brick_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.brick_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.internal_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.internal_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.internal_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.internal_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.repair_frame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.repair_frame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.door_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.door_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.door_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.door_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.door_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.door_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.opens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.opens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.new_sash_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.new_sash_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.head_drip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.head_drip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.cills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.cills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.draught_strip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.draught_strip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.pet_flap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.pet_flap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.pet_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.pet_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.pet_magnetic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.pet_magnetic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bDoorComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bDoorComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bWindowComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bWindowComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.beading_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.beading_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.thresher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.thresher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.single_double)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.single_double)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.trickle_vents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.trickle_vents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.locks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.locks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.hardware_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.hardware_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.door_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.door_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.frame_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.frame_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.spacer_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.spacer_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.spacer_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.spacer_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.glass_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.glass_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.glass_pattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.glass_pattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.special_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.special_glass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bNewLockingMech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bNewLockingMech)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bLockComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bLockComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bHandleDrawingComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bHandleDrawingComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.no_of_pics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.no_of_pics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.no_of_photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.no_of_photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.no_of_vids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.no_of_vids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.docl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.docl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bSashDrawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bSashDrawn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bSectionDrawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bSectionDrawn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bMouldingDrawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bMouldingDrawn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.room_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.room_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.doc_l_compliant_reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.doc_l_compliant_reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.doc_l_compliant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.doc_l_compliant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.door_color_out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.door_color_out)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.frame_color_out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.frame_color_out)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.door_color_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.door_color_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.door_color_code_out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.door_color_code_out)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.frame_color_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.frame_color_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.frame_color_code_out)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.frame_color_code_out)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.b_signed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.b_signed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.slide_position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.slide_position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.timber_glazed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.timber_glazed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.bDifferentFromOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.bDifferentFromOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.ChangeItemTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.ChangeItemTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.print_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.print_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.standard_sizes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.standard_sizes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.reasonnonstandard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.reasonnonstandard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.Fensa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.Fensa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.WER_rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.WER_rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.long_timber_comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.long_timber_comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_sizeA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_sizeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_sizeB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_sizeB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_sizeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_sizeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_sizeD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_sizeD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_CWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_CWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_CHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_CHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_anti_rattle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_anti_rattle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_sod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_sod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_bDiamondComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_bDiamondComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_bGeorgianComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_bGeorgianComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_bBarComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_bBarComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lock_make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lock_make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lock_codes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lock_codes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.GearBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.GearBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.left_bolt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.left_bolt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.right_bolt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.right_bolt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.letter_box)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.letter_box)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.letter_box_pos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.letter_box_pos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.moulding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.moulding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.hinge_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.hinge_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.collect_and_copy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.collect_and_copy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.temporary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.temporary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.pre_glazed_door)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.pre_glazed_door)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.weather_bar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.weather_bar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.parts_to_order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.parts_to_order)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.is_a_flat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.is_a_flat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.point_of_entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.point_of_entry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.type_of_lockng_system_required)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.type_of_lockng_system_required)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.was_it_locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.was_it_locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.back_to_back_spacer_width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.back_to_back_spacer_width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.back_to_back_spacer_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.back_to_back_spacer_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_size1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_size1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_size2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_size2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_sizeA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_sizeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_sizeB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_sizeB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_sizeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_sizeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_sizeD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_sizeD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_sizeE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_sizeE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_sizeF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_sizeF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_sizeG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_sizeG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_fpos1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_fpos1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_fpos2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_fpos2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_fpos3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_fpos3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_fpos4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_fpos4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_fpos5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_fpos5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_fpos6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_fpos6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_fpos7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_fpos7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lock_position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lock_position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_itype1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_itype1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_itype2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_itype2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_itype3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_itype3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_itype4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_itype4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_itype5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_itype5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_itype6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_itype6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.l_itype7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.l_itype7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_CWidthf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_CWidthf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_CHeightf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_CHeightf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_CWidths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_CWidths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.lead_CHeights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.lead_CHeights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.glass_complete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.glass_complete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timber.replace_glass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timber.replace_glass)
        </dd>
                    </dl>
                <td style="width:50%">
                    <h4>Photos</h4>
                    <hr />

                    <table class="table">
                        <tbody>


                                @if (Model.Images != null)
                                {
                                    @foreach (var item in Model.Images)
                                    {
                                    <tr>
                                        <td>
                                            <img src="data:image/png;base64,@item.Data" style='height: 100%; width: 100%; object-fit: contain' />

                                        </td>
                                    </tr>

                                    }
                                }

                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>


</div>

